source/upgrade-configuration/upgrade-configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpgradeConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="build">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="steps">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Step">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="upgrade">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="path" type="xs:string" />
                                <xs:element minOccurs="0" name="className" type="xs:string" />
                                <xs:element minOccurs="0" name="sql" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="class" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="downgrade">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="path" type="xs:string" />
                                <xs:element minOccurs="0" name="sql" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="class" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="number" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="message" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="majorVersion" type="xs:unsignedByte" use="required" />
            <xs:attribute name="minorVersion" type="xs:unsignedByte" use="required" />
            <xs:attribute name="releaseVersion" type="xs:unsignedByte" use="required" />
            <xs:attribute name="buildNumber" type="xs:unsignedInt" use="required" />
            <xs:attribute name="buildSequence" type="xs:unsignedByte" use="required" />
            <xs:attribute name="downgrade" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
